<ion-view>
  <ion-content class="padding firstuse">
    <h1>Welkom bij Glutea</h1>
    <p class="uitleg">
    	De eerste keer dat u Glutea gebruikt, dient u verbinding met internet te maken en in te loggen om de benodigde gegevens op te halen. Voer hieronder uw gegevens in om deze stappen te ondernemen.
    </p>

    <p ng-show="warning" class="warning">
     Let op! {{warning}}
    </p>
    <label>Patient ID</label>
    <input ng-model="patient.id" autofocus></input>

   <button class="button button-block button-positive" ng-click="confirmCredentials()">Bevestigen <i ng-show="checking" class="ion-loading-c"></i></button>

    <button class="button button-block button-energized" ng-click="logOut()">Log uit</button>
  </ion-content>
</ion-view>
