<ion-view>
<ion-content class="padding home">
<h1 class="start-logo">Glutea</h1>
<doctors-office>
<h3>Hoi {{ patient.firstName }}! </h3>
<p class="uitleg">Ik ben Maaike, jouw persoonlijke assistente. Wat goed dat je eindelijk kunt revalideren! Druk op de kalender hieronder om meteen aan de slag te gaan. Ik help je wel!</p>
</doctors-office>
</ion-content>
</ion-view>