/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@font-face{
 font-family: Gabo; 
 src: url('gabo.otf') format('opentype');
}

@font-face{
 font-family: Dense; 
 src: url('dense.otf') format('opentype');
}

@font-face {
    font-family: OpenSansRegular;
    src: url('OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: OpenSansLight;
	src: url('OpenSans-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


.bar-stable {
	background-color: #2980b9;
}

.home {
	background-color: #ecf0f1;
}


.firstuse {
	background-color: #ecf0f1;

	h1 {
		color: #f1c40f;
	}

	label {
		padding-top: 0.5em;
		line-height: 2em;
		font-size: 1.5em;
		color: #3498db;
		font-family: OpenSansRegular;
	}

	input {
		border: 2px solid;
		font-family: OpenSansLight;
		font-size: 1.5em;
		padding: 0.5em;
		height: 2em;
	}

	button {
		width: 100%;
		margin-top: 1em;
		font-size: 1.5em;
		padding: 0.5em;
		color: #fff;
		border: 0px;
		background-color: $positive;
	}

	.warning {
		font-size: 1.5em;
		font-family: OpenSansRegular;
		padding: 0.5em;
		color: #e74c3c;
	}
}

.padding {
	background-color: #ecf0f1;
	h1 {
		font-family: Dense;
		color: orange;
		font-size: 7em;
		text-align: center;
	}

	h2 {
			font-family: OpenSansRegular;
			font-size: 2em;
			text-align: center;
	}
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.speech {
	padding: 2.5em;
	background-color: white;
	border: 5px solid #000;
}

.doctorImg {
	text-align: center;
}

.doctorsoffice {
	margin-bottom: 1.5em;
}

	.uitleg {
		padding-top: 0.5em;
		line-height: 2em;
		font-size: 1.5em;
		color: #000;
		font-family: OpenSansRegular;
	}

	#instructievideo {
		width: 100%;
		height: auto;
	}

	.item {
		h4 {
			font-family: OpenSansRegular;
			font-size: 1.5em;
		}
		span {
			float: right;
			margin: 0 0 0 0;
			font-size: 2em;
			margin-top: 0.5em;
			color: #2ecc71;
		}
	}

	.uitvoering-holder {
		padding: 20px;
		.video {
			width: 70%;
		}
		.controls {
			width: 30%;
		}
		#video1 {
			width: 100%;
			min-height:200px;
			height: auto;
		}
		.button-positive {
			width: 100%;
		}
	}