<ion-view>
<ion-content class="padding detail">
<h1>{{oefening.exercise.exerciseName}}</h1>
<doctors-office>
<p class="uitleg">
De oefening {{oefening.exercise.exerciseName}} staat <span am-time-ago="oefening.event.start"></span> gepland. 
Bekijk de instructievideo voor instructies. Als je de sensoren hebt aangesloten, klik je op "Actie" om de oefening te starten.
</p>
</doctors-office>
<div class="row">
	<div class="col">
		<h2>Details</h2>
		<div class="row">
			<div class="col-50">
			<h3>Repetitions</h3>
			</div>
			<div class="col-50">
			<h4>{{oefening.exercise.repetitions}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-50">
			<h3>Planned</h3>
			</div>
			<div class="col-50">
			<h4><span am-time-ago="oefening.event.start"></span></h4>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col">
		<button ui-sref="oefeningen.uitvoering({oefening: event.id})" class="button button-block button-energized">Actie!</button>
	</div>
</div>
</ion-content>
</ion-view>
<!--
{"id":"5483a156ccf27111848bf2a4","exercise":{"id":"5483a148ccf27111848bf2a3","exerciseName":"Nieuwe oefening","therapistId":"5447c4c36e6dfa7d667286e9","youtubelink":"https://www.youtube.com/watch?v=bijwhojs_zw","repetitions":8,"description":"blabla"},"assigned":{"id":"5483a156ccf27111848bf2a4","exerciseId":"5483a148ccf27111848bf2a3","patientId":"546489c5d4bbafd1872bdc25","repetitions":8,"results":0},"event":{"assignedExerciseId":"5483a156ccf27111848bf2a4","title":"Nieuwe oefening","start":"2014-12-09","color":0}}
-->