<ion-view>
  <ion-content class="padding overzicht">
    <h1>Overzicht</h1>
    <doctors-office>
    	<p class="uitleg">In dit venster zie je een lijst van oefeningen welke de therapeut voor je heeft ingeroosterd. Druk op een oefening voor meer informatie.</p>
    </doctors-office>
     <ion-list>
      <ion-item ui-sref="oefeningen.detail({oefening: event.id})" ng-repeat="event in events | orderBy: 'start'">
        <span class="ion-eye"></span>
        <h4>{{event.start | date : 'dd/MM/yyyy'}}</h4>
        <h2>{{event.title}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>