<ion-view>
<ion-content class="padding detail">
<h1>Uitvoering</h1>
<doctors-office>
	<p class="uitleg">
		We gaan lekker oefenenen! Klik op start als je er klaar voor bent!
	</p>
</doctors-office>

<div class="row uitvoering-holder">
			<div class="video">
			<video id="video1" loop></video>
			</div>
			<div class="controls">
				<button ng-hide="playing" ng-click="play()" class="button button-positive">Start</button>
				<button ng-show="completed" ui-sref="oefeningen.index" class="button button-positive">Complete</button>
			</div>
		</div>

</ion-content>
</ion-view>